<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For Android 12 and above devices, the following permission is also required. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IT314_Health_Center"
        tools:targetApi="31">
        <activity
            android:name=".patient_side.ActivitySettings"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".patient_side.PDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUpdateMedicalHistory"
            android:exported="false" />
        <activity
            android:name=".patient_side.Activtiy_ImageViewr"
            android:exported="false" />
        <activity
            android:name=".BookAppointment"
            android:exported="false" />
        <activity
            android:name=".Doctor_Homepage"
            android:exported="false" />
        <activity
            android:name=".videocalling.DoctorSideOnlineConference"
            android:exported="false" />
        <activity
            android:name=".patient_side.my_prescriptions"
            android:exported="false" />
        <activity
            android:name=".videocalling.PatientOnlineConsultation"
            android:exported="false" />
        <activity
            android:name=".PatientHomePage"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/BlueStatusBar"/>
        <activity
            android:name=".startups.UserDetailsActivity"
            android:exported="true"
            android:theme="@style/BlueStatusBar" />
        <activity
            android:name=".startups.Login"
            android:exported="true"
            android:theme="@style/BlueStatusBar" />
        <activity
            android:name=".startups.Signup"
            android:exported="true"
            android:theme="@style/BlueStatusBar" />
        <activity
            android:name=".EmailNotVerified"
            android:exported="false" />
        <activity
            android:name=".EmailVerificationAfterSignUp"
            android:exported="false" />
        <activity
            android:name=".startups.StartScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>